@{
	ViewData["Title"] = "Gummy Kingdom";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/styles.css"/>


<div class="container">
	<div class="jumbotron">
		<h2>Welcome to the Gummy Bear Kingdom!</h2>
	</div>
</div>


	<div class="container">
		<h4>Our Theme Song - </h4>
	</div>


	<div class="container">
		<div class="detail">
			<div class="col-md-6">
				<p>
					Dashing and daring,
					Courageous and caring,
					Faithful and friendly,
					With stories to share.
					All through the forest,
					They sing out in chorus,
					Marching along,
					As their song fills the air.
					Gummi Bears!!
					Bouncing here and there and everywhere.
					High adventure that's beyond compare.
					They are the Gummi Bears.
					Magic and mystery,
					Are part of their history,
					Along with the secret,
					Of gummiberry juice.
					Their legend is growing,
					They take pride in knowing,
					They'll fight for what's right,
					In whatever they do.
					Gummi Bears!!
					Bouncing here and there and everywhere.
					High adventure that's beyond compare.
					They are the Gummi Bears.
					They are the Gummi Bears!!
				</p>

			</div>
			<div class="col-md-6">
				<img src="http://avenue348.com/wp-content/uploads/2013/11/charlotte_olympia_gummi-bear-clutch1.jpg" class="img-responsive" alt="image" />
			</div>
		</div>
	</div>






